.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #6B4B08;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0px;
  font-family: "Fredoka One", cursive;
  font-family: "Laila", sans-serif;
  font-family: "Permanent Marker", cursive;
}
