/* Grid style */

.navbar-position {
  display: grid;
  justify-items: center;
  background-color: #6b4b08;
  height: 6rem;
  width: 100%;
}

.navbar-position img {
  position: relative;
}

.navbar-position p {
  border-top: 1px solid black;
  color: white;
  font-family: "Fredoka One", cursive;
  position: relative;
  bottom: 1.2rem;
}
