.input-field {
  position: relative;
  left: 43.5%;
  top: 7rem;
}

.input-buttom {
  position: relative;
  left: 44%;
  top: 7rem;
}

.input-buttom {
  color: white;
  background-color: #6b4b08;
  border: 1px solid #6b4b08;
  border-radius: 3px;
  box-shadow: 3px 4px 8px rgba(102, 75, 8);
  margin-left: 0.3rem;
}

.input-buttom:hover {
  color: white;
  background-color: #2c2007;
  border: 2px solid #2c2007;
  border-radius: 3px;
  box-shadow: 3px 4px 8px rgba(102, 75, 8);
  animation: vibrate-1 0.3s linear infinite both;
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.input-field {
  border-radius: 3px;
}

.input-field:invalid {
  border: 2px solid red;
  animation: shake 0.2s 2;
}
@keyframes shake {
  25% {
    translate: 6px 0;
  }
  50% {
    translate: -6px 0;
  }
  75% {
    translate: 6px 0;
  }
}

@media (max-width: 375px) {
  .input-field {
    position: relative;
    left: 19%;
    top: 3rem;
  }
  .input-buttom {
    position: relative;
    left: 20%;
    top: 3rem;
  }
}
