.text-position-1 {
  width: 50%;
  height: 70%;
  border: 1px solid black;
  overflow: auto;
}

.text-position-1 li {
  list-style: none;
  text-align: center;
  font-family: "Fredoka One", cursive;
  font-family: "Laila", sans-serif;
  font-family: "Permanent Marker", cursive;
}

@media (max-width: 1270px) {
  .text-position-1 {
    width: 80%;
    height: 40%;
  }
  .text-position-1 ul {
    padding-left: 0;
  }
  .text-position-1 li {
    font-size: 12px;
    margin: 5% auto;
  }
}
