.jesting-random-position {
  position: relative;
  left: 17%;
  top: 9rem;
  border: 1px solid black;
  width: 68%;
  height: 10%;
  text-align: center;
  font-family: "Fredoka One", cursive;
}

@media (max-width: 375px) {
  .jesting-random-position {
    position: relative;
    top: 4rem;
  }
}
