.text-position {
  width: 50%;
  height: 40%;
  border: 1px solid black;
  overflow: auto;
}

.text-position p {
  text-align: center;
  margin: 5% auto;
  font-family: "Fredoka One", cursive;
  font-family: "Laila", sans-serif;
  font-family: "Permanent Marker", cursive;
}

@media (max-width: 1270px) {
  .text-position {
    width: 80%;
    height: 40%;
  }
  .text-position p {
    font-size: 12px;
    text-align: center;
    margin: 5% auto;
  }
}
