@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&display=swap");

.jesting-position {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  position: relative;
  top: 6rem;
  left: 17%;
  /* right: 40%; */
  width: 68%;
  height: 13rem;
  overflow-y: auto;
  border: 1px solid black;
}

.jesting-position ul {
  text-align: center;
  list-style: none;
  font-family: "Fredoka One", cursive;
}

.jesting-position::-webkit-scrollbar {
  -webkit-appearance: button;
}

@media (max-width: 375px) {
  .jesting-position {
    position: relative;
    top: 2rem;
  }
}
